.cardAddBtn {
  display: inline-block;
  background: #ffffff;
  border: none;
  border-bottom: 1px solid transparent;
  color: #005f75;
  cursor: pointer;
  transition: all ease-in-out .15s;
  padding: 0 0 0.125rem 0;
}

.cardAddBtn:hover, .cardAddBtn:focus {
  border-color: #005f75;
  -webkit-text-decoration-color: #ffffff;
          text-decoration-color: #ffffff;
}